body{
	font-family: 'Josefin Sans', sans-serif;
	color:#111;
	font-weight:300;
}

.text-muted{
	color:#BCBBBB
}

.text-thin{
	font-weight:100;
}

.title-super{
	font-size:60px;
}

.title-logo{
	margin-top:20px;
	padding: 10px 0;
	margin-right: 0;
	position: relative;
}


.featured-work {
		margin: 0 auto 0 auto;
	}

	
@media screen and (max-width: 480px) {
	.title-logo{

		display: none;
	}

	
	.title-super {

		font-size: 28px;
	}

	.title-lower {

		font-size: 8px;
	}
	
	.text-muted{
		font-size:20px;
	}
	
	.title-name {

		text-align: center;
	}
}






